<div class="klaviyo-historical-events-synchronization-control-wrapper">
    <sw-card hero="true">
        <sw-container columns="1fr 1fr">
            <sw-card-section>
                <sw-button-process variant="ghost"
                                   :isLoading="historicalEventsJobInteractor.isSynchronizationInProgress"
                                   :processSuccess="historicalEventsJobInteractor.isSynchronizationSuccess"
                                   @click="scheduleHistoricalEventsSynchronization"
                                   @process-finish="resetHistoricalEventsSynchronizationState"
                >
                    {{ $tc('klaviyo_integration_plugin.historical_events_tracking.schedule_synchronization.button_label') }}
                </sw-button-process>
            </sw-card-section>
            <sw-card-section>
                <sw-button-process variant="ghost"
                                   :isLoading="subscribersSynchronizationJobInteractor.isSynchronizationInProgress"
                                   :processSuccess="subscribersSynchronizationJobInteractor.isSynchronizationSuccess"
                                   @click="scheduleSubscribersSynchronization"
                                   @process-finish="resetSubscribersSynchronizationState"
                >
                    {{ $tc('klaviyo_integration_plugin.subscribers.schedule_synchronization.button_label') }}
                </sw-button-process>
            </sw-card-section>
        </sw-container>
    </sw-card>
</div>
