{% block klaviyo_integration_settings_general %}
    <div>
        <sw-card :title="$tc('klaviyo-integration-settings.general.initialization.general-label')"
                 class="klaviyo-interaction-settings">
            <sw-inherit-wrapper
                class="cookie-consent-inheritance"
                v-model="actualConfigData['klavi_overd.config.cookieConsent']"
                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.cookieConsent']"
                :label="$tc('klaviyo-integration-settings.configs.cookieConsent.label')"
                :help-text="$tc('klaviyo-integration-settings.configs.cookieConsent.helpText')">
                <template #content="props">
                    <sw-single-select name="klavi_overd.config.cookieConsent"
                                      labelProperty="label"
                                      valueProperty="value"
                                      :options="createCookieConsentOptions"
                                      :isInherited="props.isInherited"
                                      :disabled="props.isInherited"
                                      show-clearable-button
                                      :value="props.currentValue"
                                      @change="props.updateCurrentValue">
                    </sw-single-select>
                </template>
            </sw-inherit-wrapper>

            <sw-inherit-wrapper
                    v-model="actualConfigData['klavi_overd.config.isInitializeKlaviyoAfterInteraction']"
                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.isInitializeKlaviyoAfterInteraction']"
                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                <template #content="props">
                    <sw-switch-field name="klavi_overd.config.isInitializeKlaviyoAfterInteraction"
                                     :mapInheritance="props"
                                     :label="$tc('klaviyo-integration-settings.general.initialization.label')"
                                     :disabled="props.isInherited"
                                     :value="props.currentValue"
                                     :helpText="$tc('klaviyo-integration-settings.general.initialization.helpText')"
                                     @change="props.updateCurrentValue">
                    </sw-switch-field>
                </template>
            </sw-inherit-wrapper>
        </sw-card>
        <sw-card :title="$tc('klaviyo-integration-settings.general.title')">
            {% block klaviyo_integration_settings_general_credentials_alert %}
                <sw-alert v-if="selectedSalesChannelId === null" variant="warning">
                    {{ $t('klaviyo-integration-settings.general.credentialsAlert') }}
                </sw-alert>
            {% endblock %}

            {% block klaviyo_integration_settings_general_test_api %}
                <sw-button-process variant="ghost" v-if="selectedSalesChannelId !== null"
                                   :isLoading="apiValidationInProgress"
                                   @click="validateApiCredentials">
                    {{ $tc('klaviyo-integration-settings.configs.apiValidation.buttonLabel') }}
                </sw-button-process>
            {% endblock %}

            {% block klaviyo_integration_settings_general_enabled %}
                <sw-switch-field
                        v-if="selectedSalesChannelId !== null"
                        class="no-top-margin"
                        v-model="actualConfigData['klavi_overd.config.enabled']"
                        name="klavi_overd.config.enabled"
                        :label="$tc('klaviyo-integration-settings.configs.enabled.label')"
                        :helpText="$tc('klaviyo-integration-settings.configs.enabled.helpText')">
                </sw-switch-field>
            {% endblock %}

            {% block klaviyo_integration_settings_general_private_api_key %}
                <sw-password-field
                        v-model="actualConfigData['klavi_overd.config.privateApiKey']"
                        name="klavi_overd.config.privateApiKey"
                        type="text"
                        :label="$tc('klaviyo-integration-settings.configs.privateApiKey.label')"
                        :helpText="$tc('klaviyo-integration-settings.configs.privateApiKey.helpText')"
                        :disabled="selectedSalesChannelId === null"
                        :error="privateKeyErrorState"
                        required>
                </sw-password-field>
            {% endblock %}

            {% block klaviyo_integration_settings_general_public_api_key %}
                <sw-field
                        v-model="actualConfigData['klavi_overd.config.publicApiKey']"
                        name="klavi_overd.config.privateApiKey"
                        type="text"
                        :label="$tc('klaviyo-integration-settings.configs.publicApiKey.label')"
                        :helpText="$tc('klaviyo-integration-settings.configs.publicApiKey.helpText')"
                        :disabled="selectedSalesChannelId === null"
                        :error="publicKeyErrorState"
                        required>
                </sw-field>
            {% endblock %}

            {% block klaviyo_integration_settings_general_double_opt_in_alert %}
                <sw-alert v-if="selectedSalesChannelId === null" variant="warning">
                    {{ $t('klaviyo-integration-settings.general.doubleoptinAlert') }}
                </sw-alert>
            {% endblock %}

            {% block klaviyo_integration_settings_general_klaviyo_list_for_subscribers_sync %}
                <sw-inherit-wrapper v-model="actualConfigData[selectedSubscriptionList]"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.klaviyoListForSubscribersSync']"
                                    :label="$tc('klaviyo-integration-settings.configs.klaviyoListForSubscribersSync.label')"
                                    required
                                    :helpText="$tc('klaviyo-integration-settings.configs.klaviyoListForSubscribersSync.helpText')">
                    <template #content="props">
                        <sw-single-select name="klavi_overd.config.klaviyoListForSubscribersSync"
                                          labelProperty="label"
                                          valueProperty="value"
                                          required
                                          :options="subscriptionListOptions"
                                          :selected="selectedSubscriptionList"
                                          :isInherited="props.isInherited"
                                          :disabled="selectedSalesChannelId === null"
                                          :value="selectedSubscriptionList"
                                          @change="storeSelectedListValue">
                        </sw-single-select>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_varian_for_bis %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.bisVariantField']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.bisVariantField']"
                                    :label="$tc('klaviyo-integration-settings.configs.bisVariantField.label')"
                                    :help-text="$tc('klaviyo-integration-settings.configs.bisVariantField.helpText')">
                    <template #content="props">
                        <sw-single-select name="klavi_overd.config.bisVariantField"
                                          labelProperty="label"
                                          valueProperty="value"
                                          :options="createBisVariantFieldOptions"
                                          :isInherited="props.isInherited"
                                          :disabled="props.isInherited"
                                          show-clearable-button
                                          :value="props.currentValue"
                                          @change="props.updateCurrentValue">
                        </sw-single-select>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_order_identification %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.orderIdentification']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.orderIdentification']"
                                    :label="$tc('klaviyo-integration-settings.configs.orderIdentification.label')"
                                    :help-text="$tc('klaviyo-integration-settings.configs.orderIdentification.helpText')">
                    <template #content="props">
                        <sw-single-select name="klavi_overd.config.orderIdentification"
                                          labelProperty="label"
                                          valueProperty="value"
                                          :options="createOrderIdentificationFieldOptions"
                                          :isInherited="props.isInherited"
                                          :disabled="props.isInherited"
                                          show-clearable-button
                                          :value="props.currentValue"
                                          @change="props.updateCurrentValue">
                        </sw-single-select>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_deleted_account_orders %}
                <sw-inherit-wrapper
                        v-model="actualConfigData['klavi_overd.config.trackDeletedAccountOrders']"
                        :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackDeletedAccountOrders']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackDeletedAccountOrders"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackDeletedAccountOrders.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackDeletedAccountOrders.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_viewed_product %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackViewedProduct']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackViewedProduct']"
                                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackViewedProduct"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackViewedProduct.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackViewedProduct.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_recently_viewed_items %}
                <sw-inherit-wrapper
                        v-model="actualConfigData['klavi_overd.config.trackRecentlyViewedItems']"
                        :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackRecentlyViewedItems']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackRecentlyViewedItems"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackRecentlyViewedItems.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackRecentlyViewedItems.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_added_to_cart %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackAddedToCart']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackAddedToCart']"
                                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackAddedToCart"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackAddedToCart.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackAddedToCart.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_started_checkout %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackStartedCheckout']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackStartedCheckout']"
                                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackStartedCheckout"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackStartedCheckout.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackStartedCheckout.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_placed_order %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackPlacedOrder']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackPlacedOrder']"
                                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackPlacedOrder"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackPlacedOrder.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackPlacedOrder.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_track_ordered_product %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackOrderedProduct']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackOrderedProduct']"
                                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackOrderedProduct"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackOrderedProduct.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackOrderedProduct.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_order_track %}
                <fieldset>
                    <legend>Order status tracking</legend>

                    <sw-container>

                        {% block klaviyo_integration_settings_general_track_fulfilled_order %}
                            <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackFulfilledOrder']"
                                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackFulfilledOrder']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="klavi_overd.config.trackFulfilledOrder"
                                                     :mapInheritance="props"
                                                     :label="$tc('klaviyo-integration-settings.configs.trackFulfilledOrder.label')"
                                                     :helpText="$tc('klaviyo-integration-settings.configs.trackFulfilledOrder.helpText')"
                                                     :disabled="props.isInherited"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block klaviyo_integration_settings_general_track_cancelled_order %}
                            <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackCancelledOrder']"
                                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackCancelledOrder']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="klavi_overd.config.trackCancelledOrder"
                                                     :mapInheritance="props"
                                                     :label="$tc('klaviyo-integration-settings.configs.trackCancelledOrder.label')"
                                                     :helpText="$tc('klaviyo-integration-settings.configs.trackCancelledOrder.helpText')"
                                                     :disabled="props.isInherited"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                    </sw-container>

                </fieldset>
            {% endblock %}

            {% block klaviyo_integration_settings_general_order_payment_track %}
                <fieldset>
                    <legend>Order payment status</legend>

                    <sw-container>

                        {% block klaviyo_integration_settings_general_track_refunded_order %}
                            <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackRefundedOrder']"
                                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackRefundedOrder']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="klavi_overd.config.trackRefundedOrder"
                                                     :mapInheritance="props"
                                                     :label="$tc('klaviyo-integration-settings.configs.trackRefundedOrder.label')"
                                                     :helpText="$tc('klaviyo-integration-settings.configs.trackRefundedOrder.helpText')"
                                                     :disabled="props.isInherited"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                        {% block klaviyo_integration_settings_general_track_paid_order %}
                <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackPaidOrder']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackPaidOrder']"
                                    :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackPaidOrder"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackPaidOrder.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackPaidOrder.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}
                    </sw-container>

                </fieldset>
            {% endblock %}

            {% block klaviyo_integration_settings_general_order_delivery_track %}
                <fieldset>
                    <legend>Order delivery status</legend>

                    <sw-container>

                        {% block klaviyo_integration_settings_general_track_shipped_order %}
                            <sw-inherit-wrapper v-model="actualConfigData['klavi_overd.config.trackShippedOrder']"
                                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackShippedOrder']"
                                                :customInheritationCheckFunction="checkBoolFieldInheritance">
                                <template #content="props">
                                    <sw-switch-field name="klavi_overd.config.trackShippedOrder"
                                                     :mapInheritance="props"
                                                     :label="$tc('klaviyo-integration-settings.configs.trackShippedOrder.label')"
                                                     :helpText="$tc('klaviyo-integration-settings.configs.trackShippedOrder.helpText')"
                                                     :disabled="props.isInherited"
                                                     :value="props.currentValue"
                                                     @change="props.updateCurrentValue">
                                    </sw-switch-field>
                                </template>
                            </sw-inherit-wrapper>
                        {% endblock %}

                    </sw-container>

                </fieldset>
            {% endblock %}



            {% block klaviyo_integration_settings_general_track_back_in_stock %}
                <sw-inherit-wrapper
                        v-model="actualConfigData['klavi_overd.config.trackSubscribedToBackInStock']"
                        :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.trackSubscribedToBackInStock']"
                        :customInheritationCheckFunction="checkBoolFieldInheritance">
                    <template #content="props">
                        <sw-switch-field name="klavi_overd.config.trackSubscribedToBackInStock"
                                         :mapInheritance="props"
                                         :label="$tc('klaviyo-integration-settings.configs.trackSubscribedToBackInStock.label')"
                                         :helpText="$tc('klaviyo-integration-settings.configs.trackSubscribedToBackInStock.helpText')"
                                         :disabled="props.isInherited"
                                         :value="props.currentValue"
                                         @change="props.updateCurrentValue">
                        </sw-switch-field>
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_daily_synchronization_flag %}
                <sw-inherit-wrapper v-if="selectedSalesChannelId === null"
                                    v-model="actualConfigData['klavi_overd.config.dailySynchronization']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.dailySynchronization']">
                    <template #content="props">
                        <sw-switch-field
                                :map-inheritance="props"
                                :label="$tc('klaviyo-integration-settings.configs.enableDailySynchronization.label')"
                                :help-text="$tc('klaviyo-integration-settings.configs.enableDailySynchronization.helpText')"
                                :disabled="props.isInherited"
                                :value="props.currentValue"
                                @change="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}

            {% block klaviyo_integration_settings_general_daily_synchronization_time %}
                <sw-inherit-wrapper v-if="selectedSalesChannelId === null && actualConfigData['klavi_overd.config.dailySynchronization']"
                                    v-model="actualConfigData['klavi_overd.config.dailySynchronizationTime']"
                                    :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.dailySynchronizationTime']">
                    <template #content="props">
                        <sw-datepicker
                                :map-inheritance="props"
                                :value="props.currentValue"
                                :disabled="props.isInherited"
                                date-type="time"
                                :label="$tc('klaviyo-integration-settings.configs.timeDailySynchronization.label')"
                                :help-text="$tc('klaviyo-integration-settings.configs.timeDailySynchronization.helpText')"
                                @input="props.updateCurrentValue"
                                @change="props.updateCurrentValue"
                        />
                    </template>
                </sw-inherit-wrapper>
            {% endblock %}
        </sw-card>
        <sw-card
                :title="$tc('klaviyo-integration-settings.pop-up.title')"
                v-if="actualConfigData['klavi_overd.config.trackSubscribedToBackInStock']">
            <fieldset>
                <legend>{{ $tc('klaviyo-integration-settings.pop-up.open-button-fieldset-label') }}</legend>
                <sw-container columns="5fr 5fr" gap="16px">
                    {% block klaviyo_integration_settings_pop_up_show_button %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.popUpOpenBtnColor']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.popUpOpenBtnColor']"
                                :customInheritationCheckFunction="checkTextFieldInheritance">
                            <template #content="props">
                                <sw-field
                                        :label="$tc('klaviyo-integration-settings.pop-up.colorLabel')"
                                        type="colorpicker"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.popUpOpenBtnColor"
                                        @input="props.updateCurrentValue">
                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}

                    {% block klaviyo_integration_settings_pop_up_show_button_bg %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.popUpOpenBtnBgColor']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.popUpOpenBtnBgColor']">
                            <template #content="props">
                                <sw-field
                                        :label="$tc('klaviyo-integration-settings.pop-up.backgroundLabel')"
                                        type="colorpicker"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.popUpOpenBtnBgColor"
                                        @input="props.updateCurrentValue">

                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}
                </sw-container>
            </fieldset>

            <fieldset>
                <legend>{{ $tc('klaviyo-integration-settings.pop-up.close-button-fieldset-label') }}</legend>
                <sw-container columns="5fr 5fr" gap="16px">
                    {% block klaviyo_integration_settings_pop_up_hide_button %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.popUpCloseBtnColor']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.popUpCloseBtnColor']"
                                :customInheritationCheckFunction="checkTextFieldInheritance">
                            <template #content="props">
                                <sw-field
                                        :label="$tc('klaviyo-integration-settings.pop-up.colorLabel')"
                                        type="colorpicker"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.popUpCloseBtnColor"
                                        @input="props.updateCurrentValue">

                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}

                    {% block klaviyo_integration_settings_pop_up_hide_button_bg %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.popUpCloseBtnBgColor']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.popUpCloseBtnBgColor']">
                            <template #content="props">
                                <sw-field
                                        :label="$tc('klaviyo-integration-settings.pop-up.backgroundLabel')"
                                        type="colorpicker"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.popUpCloseBtnBgColor"
                                        @input="props.updateCurrentValue">

                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}
                </sw-container>
            </fieldset>

            <fieldset>
                <legend>{{ $tc('klaviyo-integration-settings.pop-up.subscribe-button-fieldset-label') }}</legend>
                <sw-container columns="5fr 5fr" gap="16px">
                    {% block klaviyo_integration_settings_pop_up_subscribe_button %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.subscribeBtnColor']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.subscribeBtnColor']"
                                :customInheritationCheckFunction="checkTextFieldInheritance">
                            <template #content="props">
                                <sw-field
                                        :label="$tc('klaviyo-integration-settings.pop-up.colorLabel')"
                                        type="colorpicker"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.subscribeBtnColor"
                                        @input="props.updateCurrentValue">

                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}

                    {% block klaviyo_integration_settings_pop_up_subscribe_button_bg %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.subscribeBtnBgColor']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.subscribeBtnBgColor']"
                        >
                            <template #content="props">
                                <sw-field
                                        :label="$tc('klaviyo-integration-settings.pop-up.backgroundLabel')"
                                        type="colorpicker"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.subscribeBtnBgColor"
                                        @input="props.updateCurrentValue">

                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}
                </sw-container>
            </fieldset>

            <fieldset>
                <legend>{{ $tc('klaviyo-integration-settings.pop-up.snippet-button-fieldset-label') }}</legend>
                <sw-container columns="5fr 5fr" gap="16px">
                    {% block klaviyo_integration_settings_pop_up_open_button_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.openBtnLabel')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.openBtnLabel"
                                disabled></sw-field>
                    {% endblock %}

                    {% block klaviyo_integration_settings_pop_up_close_button_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.closeBtnLabel')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.closeBtnLabel"
                                disabled></sw-field>
                    {% endblock %}
                </sw-container>

                <sw-container columns="5fr 5fr" gap="16px">
                    {% block klaviyo_integration_settings_pop_up_email_field_label_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.emailFieldLabel')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.email"
                                disabled></sw-field>
                    {% endblock %}

                    {% block klaviyo_integration_settings_pop_up_close_button_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.emailFieldPlaceholder')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.email-placeholder"
                                disabled></sw-field>
                    {% endblock %}
                </sw-container>

                <sw-container columns="5fr 5fr" gap="16px">

                    {% block klaviyo_integration_settings_pop_up_subscribe_button_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.subscribeBtnLabel')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.subscribeBtnLabel"
                                disabled></sw-field>
                    {% endblock %}

                    {% block klaviyo_integration_settings_pop_up_subscribe_checkbox_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.subscribeCheckboxLabel')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.subscribe-to-newsletter"
                                disabled></sw-field>
                    {% endblock %}
                </sw-container>

                <sw-container columns="5fr 5fr" gap="16px">
                    {% block klaviyo_integration_settings_pop_up_content_message_snippet %}
                        <sw-field
                                :label="$tc('klaviyo-integration-settings.pop-up.contentMessageLabel')"
                                type="text"
                                value="klaviyo.back-in-stock.modal.contentMessage"
                                disabled></sw-field>
                    {% endblock %}
                </sw-container>
            </fieldset>

            <fieldset>
                <legend>{{ $tc('klaviyo-integration-settings.pop-up.additional-classes-fieldset-label') }}</legend>
                <sw-container gap="16px">
                    {% block klaviyo_integration_settings_pop_up_additional_classes %}
                        <sw-inherit-wrapper
                                v-model="actualConfigData['klavi_overd.config.popUpAdditionalClasses']"
                                :inheritedValue="selectedSalesChannelId === null ? null : allConfigs['null']['klavi_overd.config.popUpAdditionalClasses']"
                                :customInheritationCheckFunction="checkTextFieldInheritance">
                            <template #content="props">
                                <sw-field
                                        type="text"
                                        :map-inheritance="props"
                                        :value="props.currentValue"
                                        :disabled="props.isInherited"
                                        name="klavi_overd.config.popUpAdditionalClasses"
                                        @input="props.updateCurrentValue">

                                </sw-field>
                            </template>
                        </sw-inherit-wrapper>
                    {% endblock %}
                </sw-container>
            </fieldset>
        </sw-card>
    </div>
{% endblock %}
