.klaviyo-fieldmapping-delete-action {
    margin-top: 34px;

    &:hover {
        cursor: pointer;
        color: #ed143d;
    }
}

.klaviyo-fieldmapping-notice-block {
    display: inline-block;
    padding-left: 15px;
    color: #ed143d;
}
