{% block klaviyo_integration_settings_customer %}
    <sw-card :title="$tc('klaviyo-integration-settings.customer.title')">

        {% block klaviyo_integration_settings_customer_custom_field_mapping %}

            <template v-if="!isLoading" v-for="mappedField, mappedKey in customFieldMapping">
                <sw-container columns="5fr 5fr 1fr" gap="16px">

                    <sw-text-field v-model="mappedField.customLabel"
                                   :placeholder="$tc('klaviyo-integration-settings.customer.fieldMapping.item.fieldNamePlaceholder')"
                                   :error="mappingErrorStates[mappedKey]['label'] ?? null"
                                   :label="$tc('klaviyo-integration-settings.customer.fieldMapping.item.fieldName')">
                    </sw-text-field>


                    <sw-select-field v-model="mappedField.customFieldName"
                                     :placeholder="$tc('klaviyo-integration-settings.customer.fieldMapping.item.customFieldNamePlaceholder')"
                                     :error="mappingErrorStates[mappedKey]['fieldCode'] ?? null"
                                     :label="$tc('klaviyo-integration-settings.customer.fieldMapping.item.customFieldName')">
                        <option v-for="customField in systemCustomFields"
                                :value="customField.name">
                            {{ customField.name }}
                        </option>
                    </sw-select-field>

                    <sw-icon name="small-default-x-line-medium"
                             class="klaviyo-fieldmapping-delete-action"
                             @click="onDeleteFieldMapping(mappedKey)">
                    </sw-icon>

                </sw-container>
            </template>

            {% block klaviyo_integration_settings_customer_custom_field_mapping_add_button %}
                <sw-button id="od-klaviyo-add-mapping-btn"
                           variant="primary"
                           :disabled="isLoading || addMappingBtnAvailability"
                           @click="onAddNewFieldMapping">
                    {{ $tc('klaviyo-integration-settings.customer.fieldMapping.addFieldButtonLabel') }}
                </sw-button>
            {% endblock %}

            <div v-if="!isLoading && noCustomFieldsError" class="klaviyo-fieldmapping-notice-block">
                {{ $tc(noCustomFieldsError) }}
            </div>

        {% endblock %}
        <sw-loader v-if="isLoading"/>

    </sw-card>
{% endblock %}
