.custom-field-hint-container {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    & > span {
        border-radius: 20px;
        padding: 4px 20px;
        background: #e3e3e3;
        line-height: 1.2;
    }
}

.klaviyo-fieldmapping-notice-block {
    display: inline-block;
    padding-left: 15px;
    color: #ed143d;
}
