{% sw_extends '@Storefront/storefront/base.html.twig' %}

{# Adding Klaviyo script #}
{% block base_body_script %}

    {{ parent() }}
    {# Klaviyo script #}
    {% block base_body_script_klaviyo_integration %}
        {% if page.hasExtension('klaviyoIntegrationPluginExtension') %}
            {% set extensionData = page.getExtension('klaviyoIntegrationPluginExtension') %}
            {% set options = {'customerIdentityInfo': extensionData.customerIdentity } %}
            {% set configurationOptions = {
                'afterInteraction': extensionData.configuration.afterInteraction,
                'publicApiKey':  extensionData.configuration.publicApiKey|sw_sanitize,
                'customerId': context.customer.id
            } %}
            <div style="display: none;" data-klaviyo-identity-tracking-component=""
                 data-klaviyo-tracking="true"
                 data-klaviyo-tracking-options="{{ configurationOptions|json_encode }}"
                 data-klaviyo-identity-tracking-component-options="{{ options|json_encode }}"></div>
        {% endif %}
    {% endblock %}

{% endblock %}
