{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}
{% block layout_footer_inner_container %}
    {{ parent() }}

    {% if page.hasExtension('klaviyoIntegrationPluginExtension') %}
        {% set extensionData = page.getExtension('klaviyoIntegrationPluginExtension') %}
        {% set options = {'customerIdentityInfo': extensionData.customerIdentity } %}
        <div style="display: none;" data-klaviyo-identity-tracking-component=""
             data-klaviyo-identity-tracking-component-options="{{ options|json_encode }}"></div>

        <script type="application/javascript" async
                src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id={{ extensionData.configuration.publicApiKey }}"></script>
    {% endif %}
{% endblock %}