{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_content %}
    {{ parent() }}
    {% if page.hasExtension('klavi_overdExtension') %}
        {% set extensionData =  page.getExtension('klavi_overdExtension') %}
        {% set klaviyoComponentOptions = {
                'productInfo': extensionData.productInfo
            }
        %}

        <div style="display: none;" data-klaviyo-product-viewed-event-tracking-component=""
            data-klaviyo-product-viewed-event-tracking-component-options="{{ klaviyoComponentOptions|json_encode }}"></div>
    {% endif %}
{% endblock %}
