{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_content %}
    {{ parent() }}

    {% if page.getExtension('klaviyoIntegrationPluginExtension').configuration.trackSubscribedToBackInStock and
        page.extensions.klaviyoIntegrationPluginExtension.backInStockData and not product.translated.customFields.klaviyo_back_in_stock_disabled %}

        {% sw_include '@Storefront/storefront/page/product-detail/back-in-stock-form.html.twig' with {
            extensionData: page.getExtension('klaviyoIntegrationPluginExtension')
        } %}
    {% endif %}

    {% if page.hasExtension('klaviyoIntegrationPluginExtension') %}
        {% set extensionData =  page.getExtension('klaviyoIntegrationPluginExtension') %}

        {% set klaviyoComponentOptions = {
                'productInfo': extensionData.productInfo
            }
        %}

        <div style="display: none;" data-klaviyo-product-viewed-event-tracking-component=""
            data-klaviyo-product-viewed-event-tracking-component-options="{{ klaviyoComponentOptions|json_encode }}"></div>
    {% endif %}
{% endblock %}
