.back-in-stock {
    #message-container {
        margin: 15px 0 15px;
        &.alert-success {
            .icon-checkmark-circle {
                display: block;
            }
            .icon-blocked {
                display: none;
            }
        }
        &.alert-danger {
            .icon-blocked {
                display: block;
            }
            .icon-checkmark-circle {
                display: none;
            }
        }
    }

    &-container {
        margin-bottom: 1rem;
    }
}

.btn-notify {
    padding: 2px 12px;
    font-size: 1rem;
    line-height: 38px;
    border-radius: 3px;
}