<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Klaviyo integration plugin Settings</title>

        <input-field type="text">
            <name>privateApiKey</name>
            <label>Klaviyo Private API key</label>
            <required>true</required>
            <helpText>
                Klaviyo Private API key. You can find it in your klaviyo account
            </helpText>
        </input-field>
        <input-field type="text">
            <name>publicApiKey</name>
            <label>Klaviyo Public API key</label>
            <required>true</required>
            <helpText>
                Klaviyo Public API key. You can find it in your klaviyo account
            </helpText>
        </input-field>
        <input-field type="text">
            <name>klaviyoListForSubscribersSync</name>
            <label>Klaviyo List name for subscribers sync</label>
            <required>true</required>
            <helpText>
                The name of the Subscribers list in klaviyo where all Shopware 6 subscribers will be added.
                In case of duplicate names first found list will be used
            </helpText>
        </input-field>
        <input-field type="int">
            <name>catalogFeedProductsCount</name>
            <label>Klaviyo Catalog Feed Maximum items count</label>
            <required>true</required>
            <defaultValue>25000</defaultValue>
            <min>1</min>
            <helpText>
                Maximum number of items in the catalog feed which Shopware 6 will provide to the Klaviyo,
                by default it is 25000 which is an amount allowed by Klaviyo by default.

                If you have more than 25000 products please update this configuration value and contact klaviyo support
                in order to extend this limit on their side.

                If this configuration value will be less than products count, then only most recent products will be
                added to the catalog feed
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>trackViewedProduct</name>
            <label>Track Viewed Product</label>
            <helpText>
                Do we need to send "Viewed Product" Event to Klaviyo?
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackRecentlyViewedItems</name>
            <label>Track Recently Viewed Items</label>
            <helpText>
                Do we need to send "Recently Viewed Items" Event to Klaviyo?
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackAddedToCart</name>
            <label>Track Added to Cart</label>
            <helpText>
                Do we need to send "Added to Cart Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackStartedCheckout</name>
            <label>Track Started Checkout</label>
            <helpText>
                Do we need to send "Started Checkout Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackPlacedOrder</name>
            <label>Track Placed Order</label>
            <helpText>
                Do we need to send "Placed Order Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackOrderedProduct</name>
            <label>Track Ordered Product</label>
            <helpText>
                Do we need to send "Ordered Product Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackFulfilledOrder</name>
            <label>Track Fulfilled Order</label>
            <helpText>
                Do we need to send "Fulfilled Order Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackCancelledOrder</name>
            <label>Track Cancelled Order</label>
            <helpText>
                Do we need to send "Cancelled Order Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>trackRefundedOrder</name>
            <label>Track Refunded Order</label>
            <helpText>
                Do we need to send "Refunded Order Event" to Klaviyo?
                Decision will also affect Synchronization of the historical events
            </helpText>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
</config>
