{% block klaviyo_integration_settings_icon %}
    <div class="od-klaviy-settings-icon">
        <img height="30" width="30" src='data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjY2IDE3OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBjb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAxKSIgcm9sZT0iaW1nIgogICAgIGFyaWEtbGFiZWw9IktsYXZpeW8gTG9nbyI+CiAgICA8cGF0aCBkPSJNMjY2IDE3OEgwVjBoMjY2bC01NS44MzUgODlMMjY2IDE3OFoiIGZpbGw9InJnYmEoMjU1LCAyNTUsIDI1NSwgMSkiPjwvcGF0aD4KPC9zdmc+Cg=='/>
    </div>
{% endblock %}