{% block job_listing_page %}
    <sw-page class="klaviyo-job-list">
        {% block klaviyo_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block klaviyo_auto_reload_switch %}
                    <sw-switch-field class="klaviyo-auto-loading-switch" v-model="autoLoad" label="Auto load"></sw-switch-field>
                {% endblock %}

                {% block klaviyo_show_grouped %}
                    <sw-button @click="showGrouped" size="small" variant="primary">
                        <span v-if="!isGrouped">Grouped view</span>
                        <span v-else>Table view</span>
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}
        <template slot="content">
            <od-job-listing-index ref="jobListing"
                                  @stop-auto-loading="stopAutoLoading"
                                  :autoReloadInterval="3000"
                                  :autoLoadIsActive="autoLoad"
                                  :isGroupedView="isGrouped"
                                  :jobTypes="klaviyoJobTypes">
            </od-job-listing-index>
        </template>
        <template v-if="!isGrouped" #sidebar>
            <sw-sidebar>
                {% block sw_jobs_list_sidebar_refresh %}
                    <sw-sidebar-item
                            icon="default-arrow-360-left"
                            :title="$tc('sw-product.list.titleSidebarItemRefresh')"
                            @click="onRefresh"
                    />
                {% endblock %}
            </sw-sidebar>
        </template>
    </sw-page>
{% endblock %}
